name: CI
on:
  push:
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go_version:
          - "1.22"
          - "1.23"
    container:
      image: quay.io/prometheus/golang-builder:${{ matrix.go_version }}-base
    env:
      # Override Go 1.18 security deprecations.
      GODEBUG: "x509sha1=1,tls10default=1"
    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - uses: prometheus/promci@c3c93a50d581b928af720f0134b2b2dad32a6c41 # v0.4.6
      - uses: ./.github/promci/actions/setup_environment
      - run: make test
