name: CI
on:
  push:
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go_version:
          - "1.24"
          - "1.25"
    container:
      image: quay.io/prometheus/golang-builder:${{ matrix.go_version }}-base
    env:
      # Override Go 1.18 security deprecations.
      GODEBUG: "x509sha1=1,tls10default=1"
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - uses: prometheus/promci@c0916f0a41f13444612a8f0f5e700ea34edd7c19 # v0.5.3
      - uses: ./.github/promci/actions/setup_environment
      - run: make test
